
<div class="row result-page">
    <div class="small-12 columns">
        <h4>Result for: <a href="{{link.parseUrl}}" target="_blank" class="tested-url">{{link.parseUrl}}</a></h4>

        <div class="row">
            <div class="small-8 columns permalink">
                <i class="fa fa-link"></i> Permalink: {{link.slug}}
            </div>
            <div class="small-4 columns">
                <input type="text" placeholder="Search.." class="filter">
            </div>
        </div>

        <table class="footable" data-filter=".filter" data-page-navigation="#pagination" data-page-size="10">
            <thead>
                <tr>
                    <th width="15%" class="text-center">Tag</th>
                    <th width="15%" data-type="numeric" class="text-center">Type</th>
                    <th width="15%" data-sort-initial="descending" data-type="numeric" class="text-center">Count</th>
                    <th width="30%" data-sort-ignore="true">.Classes</th>
                    <th width="30%" data-sort-ignore="true">#Ids</th>
                </tr>
            </thead>
            <tbody>
            {{#each link.parsedHtml}}
                <tr>
                    <td class="text-left">{{tag}}</td>
                    <td class="text-center" data-value="{{#if html5}}1{{else}}0{{/if}}">{{#if html5}}<i class="fa fa-html5"></i>{{/if}}</td>
                    <td class="text-right">{{count}}</td>
                    <td>{{classes}}</td>
                    <td>{{ids}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>

        <div class="text-right">
            <ul id="pagination" class="footable-nav pagination"></ul>
        </div>
    </div>
</div> <!-- /.result-page -->
